* {
	margin: 0;
	padding: 0;
}

body {
	background: black;
}

.content {
	background: white;
	display: grid;
	grid-gap: 3px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas:
	" header header header header header header "
	" main main main main main main "
	" footer footer footer footer footer footer "
}

header {
	grid-area: header;
	text-align: center;
}

header h1 {
	margin: 6px;
	padding: 6px ;
}

main {
	grid-area: main;
	text-align: center;
	margin: 60px;
}

main ul li {
	list-style: none;
	padding: 12px;
}

main ul li input {
	border: none;
	border-bottom: 2px solid silver;
}

main ul li textarea {
	resize: none;
}

main ul li select {
	padding: 6px;
}

.sub-titles {
	text-align: center;
	font-weight: bold;
}

button{
	padding: 12px 24px;
	background-color: #2C9F42;
	color: white;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid gold;
}

footer {
	grid-area: footer;
	background: silver;
	text-align: center;
	padding: 12px;
}

.content main table {
	text-align: center;
	margin: 6px auto;
	width: 90%;
	border-collapse: collapse;
}

.content main table thead tr:nth-of-type(1) {
	background: #009f00;
}

.content main table tr th {
	padding: 6px;
	border: 1px solid silver;
}

.content main table tr td {
	padding: 3px;
	border: 1px solid silver;
}
